@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: url('../public/fonts/MartianMono-SemiExpandedRegular.woff2') format('woff2'),
        url('../public/fonts/MartianMono-SemiExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/Inter-Regular.woff2') format('woff2'),
        url('../public/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
