@font-face {
  font-family: "Martian Mono SemiExpanded";
  src:
    url("../public/fonts/MartianMono-SemiExpandedRegular.woff2") format("woff2"),
    url("../public/fonts/MartianMono-SemiExpandedRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("../public/fonts/Inter-Regular.woff2") format("woff2"),
    url("../public/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* TOKEN DEFINITIONS */
/* Mobile-first defailts */
:root {
  /* Colors */
  --color-neutral-900: hsl(194, 78%, 11%);
  --color-neutral-700: hsl(195, 23%, 28%);
  --color-neutral-200: hsl(17, 12%, 89%);
  --color-neutral-100: hsl(17, 41%, 97%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-light-salmon-500: hsl(22, 99%, 72%);
  --color-light-salmon-100: hsl(22, 100%, 91%);
  --color-light-salmon-50: hsl(23, 100%, 97%);

  /* Gradients */
  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);

  /* Typography */
  --font-size-preset-1: 2.375rem;
  --font-size-preset-2: 2.125rem;
  --font-size-preset-3: 1.5rem;
  --font-size-preset-4: 1.5rem;
  --font-size-preset-5: 1.25rem;
  --font-size-preset-6: 1rem;
  --font-size-preset-7: 0.875rem;

  /* Spacing */
  --spacing-0: 0rem;
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;

  /* Border Radius */
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-999: 62.4375rem;

  /* Font Families */
  --font-family-martian: "Martian Mono SemiExpanded";
  --font-family-inter: "Inter";

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-110: 110%;
  --line-height-120: 120%;
  --line-height-130: 130%;
  --line-height-140: 140%;

  /* Letter Spacing */
  --letter-spacing-2px: -0.125em;
  --letter-spacing-1px: -0.0625em;
  --letter-spacing-half: -0.03125em;

  /* Media breakpoints */
  --breakpoint-tablet: 48em;
  --breakpoint-desktop: 90em;
}

/* Tablet breakpoint */
@media screen and (min-width: 48em) {
  :root {
    --font-size-preset-1: 3.875rem;
    --font-size-preset-2: 3.125rem;
    --font-size-preset-3: 2.125rem;
    --font-size-preset-6: 1.125rem;
  }
}

/* ####################################### */
/* CSS RESET */
/* ####################################### */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font-family-martian);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for buttons and reset button styles */
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

ul {
  list-style: none;
}

/* ####################################### */
/* UTILITY CLASSES */
/* ####################################### */

/* TYPOGRAPHY CLASSES */
.heading-hero {
  font-size: var(--font-size-preset-1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-2px);
  background: var(--text-gradient);
  background-clip: text;
  color: transparent;
}

.heading-secondary {
  font-size: var(--font-size-preset-2);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-130);
  letter-spacing: var(--letter-spacing-2px);
}

.heading-tertiary {
  font-size: var(--font-size-preset-3);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-110); /* mobile */
  letter-spacing: var(--letter-spacing-1px);
}

.overline {
  font-size: var(--font-size-preset-4);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-110);
  letter-spacing: var(--letter-spacing-1px);
}

.body {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-preset-5);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-140);
  letter-spacing: var(--letter-spacing-half);
  color: var(--color-neutral-700);
}

.label {
  font-size: var(--font-size-preset-6);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-130);
  letter-spacing: var(--letter-spacing-1px);
}

.caption {
  font-size: var(--font-size-preset-7);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-1px);
}

@media screen and (min-width: 48em) {
  .heading-tertiary {
    line-height: var(--line-height-130); /* changes from 110% */
  }
}

/* FONT WEIGHT UTILITIES */
.font-regular {
  font-weight: var(--font-weight-regular);
}

.font-semibold {
  font-weight: var(--font-weight-semibold);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

/* COLOR UTILITIES */
/* Neutral colors */
.text-neutral-900 {
  color: var(--color-neutral-900);
}

.text-neutral-700 {
  color: var(--color-neutral-700);
}

.text-neutral-200 {
  color: var(--color-neutral-200);
}

.text-neutral-100 {
  color: var(--color-neutral-100);
}

.text-neutral-0 {
  color: var(--color-neutral-0);
}

/* Light salmon colors */
.text-light-salmon-500 {
  color: var(--color-light-salmon-500);
}

.text-light-salmon-100 {
  color: var(--color-light-salmon-100);
}

.text-light-salmon-50 {
  color: var(--color-light-salmon-50);
}

/* BACKGROUND COLOR UTILITIES */
/* Neutral colors */
.bg-neutral-900 {
  background-color: var(--color-neutral-900);
}

.bg-neutral-700 {
  background-color: var(--color-neutral-700);
}

.bg-neutral-200 {
  background-color: var(--color-neutral-200);
}

.bg-neutral-100 {
  background-color: var(--color-neutral-100);
}

.bg-neutral-0 {
  background-color: var(--color-neutral-0);
}

/* Light salmon colors */
.bg-light-salmon-500 {
  background-color: var(--color-light-salmon-500);
}

.bg-light-salmon-100 {
  background-color: var(--color-light-salmon-100);
}

.bg-light-salmon-50 {
  background-color: var(--color-light-salmon-50);
}

/* GRADIENT UTILITIES */
.bg-gradient-text {
  background: var(--text-gradient);
}

.bg-gradient-light {
  background: var(--gradient);
}

.flex-start {
  align-self: flex-start;
}

.text-center{
  text-align: center;
}

/* ####################################### */
/* COMPONENT STYLES */
/* ####################################### */
.btn {
  padding: var(--spacing-250) var(--spacing-300);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-200);
  border-radius: var(--radius-8);
  text-wrap: nowrap;
}

.btn--primary {
  color: var(--color-neutral-900);
  box-shadow: inset 0 0 0 2px var(--color-neutral-900);
  background: var(--color-light-salmon-50);

  &:hover,
  &:focus {
    background: var(--gradient);
  }

  &:focus {
    outline: solid var(--color-neutral-700);
    outline-offset: 3px;
    outline-width: 2px;
  }
}

.btn--secondary {
  --gradient: linear-gradient(
    to right,
    var(--color-neutral-700) 0%,
    var(--color-neutral-900) 100%
  );
  color: var(--color-neutral-0);
  box-shadow: inset 0 0 0 2px var(--color-neutral-0);
  background: var(--color-neutral-900);

  &:hover,
  &:focus {
    background: var(--gradient);
  }

  &:focus {
    outline: solid var(--color-neutral-700);
    outline-offset: 3px;
    outline-width: 2px;
  }
}

.section_flex-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);

  @media screen and (min-width: 75em) {
    flex-direction: row;
    gap: var(--spacing-1000);
    align-items: center;

    & div {
      flex: 1 1 50%;
    }
  }
}

.section-container {
  padding-inline: var(--spacing-200);

  @media screen and (min-width: 48em) {
    padding-inline: var(--spacing-400);
  }

  @media screen and (min-width: 90em) {
    padding-inline: 8.4375rem;
  }
}

.relative {
  position: relative;
}

.max-content{
  width: max-content;
}

/* ####################################### */
/* MAIN STYLES */
/* ####################################### */
.main {
  display: grid;
  gap: var(--spacing-800);
  margin-bottom: var(--spacing-800);

  @media screen and (min-width: 48em) {
    gap: var(--spacing-1000);
    margin-bottom: var(--spacing-1000);
  }
  @media screen and (min-width: 90em) {
    gap: 7.5rem;
  }
}

.hero {
  padding: var(--spacing-300) var(--spacing-200) var(--spacing-1000);
  display: grid;
  gap: var(--spacing-500);
  background: url("./assets/images/pattern-light-bg.svg") center/cover no-repeat;

  @media screen and (min-width: 48em) {
    padding: var(--spacing-400) var(--spacing-400) var(--spacing-1000);
    gap: var(--spacing-800);
  }

  @media screen and (min-width: 90em) {
    padding: var(--spacing-400) 8.4375rem var(--spacing-1000);
    gap: var(--spacing-1000);
  }
}

.hero__flex-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);

  @media screen and (min-width: 90em) {
    flex-direction: row;
    gap: var(--spacing-800);
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  justify-content: center;
}

.hero__intro {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
}

.hero__cta {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);

  .btn > span {
    text-wrap: nowrap;
  }
}

.hero__testimonials {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.hero__testimonials-stats {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
}

.hero__testimonial-rating {
  display: flex;
}

.hero__img {
  flex: 1 0 50%;
}

.hero__img picture,
.hero__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Features */
.features .section_flex-container {
  @media screen and (min-width: 75em) {
    flex-direction: row-reverse;
  }
}

.section_text-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);

  @media screen and (min-width: 48em) {
    gap: 2.125rem;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.feature {
  display: inline-flex;
  align-items: center;
  gap: 0.875rem;
}

.feature::before {
  content: "";
  width: var(--spacing-300);
  height: var(--spacing-300);
  background: url("./assets/images/icon-check.svg") center/cover no-repeat;
  flex: 0 0 auto;
}

.section_flex-container .section__img picture,
.section_flex-container .section__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-12);

  @media screen and (min-width: 48em) {
    border-radius: var(--radius-24);
  }
  @media screen and (min-width: 90em) {
    border-radius: var(--radius-20);
  }
}

/* About section */
.about-club {
  position: relative;
}
.about-club::after {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  right: 0;
  bottom: 0;
  width: 120%;
  height: 100%;
  background: url(./assets/images/pattern-circle.png) center/contain no-repeat;
}

.tech-logos {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);

  @media screen and (min-width: 90em) {
    display: block;
  }
}

/* Reading journey */
.reading-journey {
  padding: var(--spacing-800) var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  border-radius: var(--radius-12);
  background:
    url(./assets/images/pattern-light-bg.svg) no-repeat,
    url(./assets/images/pattern-glow.svg) no-repeat,
    var(--color-neutral-100);
  background-position:
    center,
    bottom -200px right -390px,
    center;
  background-size: cover, 684px, cover;

  @media screen and (min-width: 48em) {
    padding: var(--spacing-1000) var(--spacing-400);
    gap: var(--spacing-600);
  }

  @media screen and (min-width: 90em) {
    padding: var(--spacing-1000) 0;
    gap: var(--spacing-1000);
  }
}

.reading-journey h2 {
  @media screen and (min-width: 75em) {
    text-align: center;
    max-width: 512px;
    margin-inline: auto;
  }
}

.reading-journey__steps {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  width: min(100%, 1050px);
  margin: 0 auto;

  @media screen and (min-width: 48em) {
    gap: var(--spacing-500);
  }
  @media screen and (min-width: 75em) {
    flex-direction: row;
    gap: var(--spacing-600);
  }
}

.reading-journey__step {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
  position: relative;

  @media screen and (min-width: 48em) {
    gap: var(--spacing-300);
  }
}

.reading-journey__step::after {
  content: "";
  width: 76.64px;
  height: 20.51px;
  background: url(./assets/images/pattern-arrow.svg) center/cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-8.7deg);
  display: none;

  @media screen and (min-width: 75em) {
    display: block;
  }
}

.reading-journey-step__number {
  width: var(--spacing-400);
  height: var(--spacing-400);
  box-shadow: inset 0 0 0 2px var(--color-neutral-900);
  display: grid;
  place-items: center;
  border-radius: var(--radius-4);

  @media screen and (min-width: 48em) {
    width: var(--spacing-500);
    height: var(--spacing-500);
  }
}

/* Membership options */
.membership {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding-inline: var(--spacing-200);
  width: min(100%, 60.625rem);
  margin-inline: auto;

  @media screen and (min-width: 48em) {
    gap: var(--spacing-500);
    padding-inline: var(--spacing-400);
  }
  @media screen and (min-width: 90em) {
    gap: var(--spacing-800);
    padding-inline: 0;
  }
}

.membership__options {
  display: grid;
  gap: var(--spacing-300);
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  align-items: center;
}

.membership__option {
  padding: var(--spacing-300);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  border-radius: var(--radius-8);
  border: 1px solid var(--color-neutral-200);

  @media screen and (min-width: 48em) {
    padding: var(--spacing-300);
  }
}

.membership__option--secondary {
  background-image: url(./assets/images/pattern-glow.svg);
  background-color: var(--color-neutral-100);

  @media screen and (min-width: 60.625em) {
    padding: var(--spacing-500) var(--spacing-300);
  }
}

.membership__option-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.membership__option-price {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.divider {
  border: 1px solid var(--color-neutral-200);
}

/* Testimonial */
.testimonial {
  padding-inline: var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  width: min(100vw, 970px);
  margin-inline: auto;

  @media screen and (min-width: 62.25em) {
    padding-inline: var(--spacing-400);
  }
}

.testimonial__rating {
  display: flex;
  align-items: center;
  gap: var(--spacing-075);
}

.testimonial__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

@media screen and (min-width: 62.25em) {
  .testimonial__content h3,
  .testimonial__content p {
    text-align: center;
  }

  .testimonial__rating {
    justify-content: center;
  }
}

/* FOOTER */
.footer{
  padding: var(--spacing-600) var(--spacing-200) 0;
  display: grid;
  gap: var(--spacing-800);
  border-top-left-radius: var(--radius-16);
  border-top-right-radius: var(--radius-16);
  background: url(./assets/images/pattern-dark-bg.svg);
  background-color: var(--color-neutral-900);

  @media screen and (min-width: 48em) {
    padding: var(--spacing-800) var(--spacing-400) 0;
  }
}

.footer__main-content{
  display: grid;
  gap: var(--spacing-500);
}

.footer__cta{
  display: grid;
  gap: var(--spacing-300);
  justify-content: center;
}

.footer__content{
  padding: var(--spacing-300) var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  width: min(100%, 73.125rem);
  margin-inline: auto;

  @media screen and (min-width: 48em) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social-media{
  display: flex;
  gap: var(--spacing-300);
  align-items: center;
  justify-content: center;
}